server:
  port: 8082
  servlet:
    context-path: /identity

spring:
  datasource:
    url: "jdbc:mysql://localhost:3306/identity_service"
    username: root
    password: Hieu@15102004
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true


